
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<script src="~/Scripts/MyScripts/services.js"></script>
<script src="~/Scripts/MyScripts/controllers.js"></script>
<script src="~/Scripts/MyScripts/directive.js"></script>



<h2>Index</h2>

<div ng-controller="controller1">

    <h1> Persons Details Page</h1>

    <br />

    <button type="button" class="btn btn-primary" ng-click="addPerson()">Add Person</button>


    <div>
        <p>Persons List</p>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="">
                    <td>
                        <b>ID</b>
                        <button ng-click="SortBy(0)" ng-class="ClassArr[0]"></button>
                    </td>
                    <td>
                        <b>Name</b>
                        <button ng-click="SortBy(1)" ng-class="ClassArr[1]"></button>
                    </td>
                    <td>
                        <b>LastName</b>
                        <button ng-click="SortBy(2)" ng-class="ClassArr[2]"></button>
                    </td>
                    <td>
                        <b>State</b>
                        <button ng-click="SortBy(3)" ng-class="ClassArr[3]"></button>
                    </td>
                    <td>
                        <b>Age</b>
                        <button ng-click="SortBy(4)" ng-class="ClassArr[4]"></button>
                    </td>
                    <td><b>Actions</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in persons | orderBy:Field:Reverse">
                    <td>
                        {{person.Id}}
                    </td>
                    <td>
                        {{person.Name}}
                    </td>
                    <td>
                        {{person.LastName}}
                    </td>
                    <td>
                        {{person.State}}
                    </td>
                    <td>
                        {{person.Age}}
                    </td>
                    <td>
                        <button ng-click="editPerson(person)" class="btn btn-primary">Edit</button>
                        <button ng-click="deletePerson(person)" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <test-dir ng-show="divPerson" action="{{Action}}" hideid="hidePersonId"
              id="{{person.Id}}" name="person.Name" lastname="person.LastName" state="person.State" age="person.Age" clickaction="addUpdatePerson()"></test-dir>

</div>

