<form name="myForm" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p>{{action}} Person</p>
                </div>
                <div class="panel-body">
                    <div class="row" ng-hide="hideid">
                        <div class="col-md-2">
                            <div class="editor-label">
                                Id
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="editor-field">
                                <b>{{id}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <div class="editor-label">
                                Name
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                <input type="text" name="name" ng-model="name" class="text-box single-line form-control" required ng-minlength="1" ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span style="color: red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                                <span ng-show="myForm.name.$error.required">Name is required.</span>
                                Invalid
                            </span>
                        </div>
                    </div>
                    <div class="row  form-group">
                        <div class="col-md-2">
                            <div class="editor-label">
                                LastName
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="editor-field">
                                <input type="text" name="lastname" ng-model="lastname" class="text-box single-line form-control" required ng-minlength="1" ng-maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span style="color: red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
                                <span ng-show="myForm.lastname.$error.required">LastName is required.</span>
                                Invalid
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <div class="editor-label">
                                State
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="editor-field">
                                <input type="text" name="state" ng-model="state" class="text-box single-line form-control" required ng-minlength="2" ng-maxlength="2" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span style="color: red" ng-show="myForm.state.$dirty && myForm.state.$invalid">
                                <span ng-show="myForm.state.$error.required">State is required.</span>
                                Invalid
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <div class="editor-label">
                                Age
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="editor-field">
                                <input type="number" name="age" ng-model="age" class="text-box single-line form-control" required
                                       min="0" max="200" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <span style="color: red" ng-show="myForm.age.$dirty && myForm.age.$invalid">
                                <span ng-show="myForm.age.$error.required">Age is required.</span>
                                Invalid range
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-actions no-color">
                        <button type="button" class="btn btn-primary" ng-click="clickaction()"
                                ng-disabled="(myForm.age.$invalid) || (myForm.state.$invalid) ||
                                    (myForm.lastname.$invalid) || (myForm.name.$invalid)">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

